* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: black;
}

.gallery{
    width: 900px;
    display: flex;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}